{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="{{ url_for('index') }}" method="post">
        <fieldset>
        <table style="width:100%">
            <tr>
                <td><b>Symbol</b></td>
                <td><b>Name</b></td>
                <td><b>Shares</b></td>
                <td><b>Price</b></td>
                <td><b>Total</b></td>
            </tr>
            
            {% for stock in stocks %}
            <tr>
                <td>{{stock.symbol}}</td>
                <td>{{stock.name}}</td>
                <td>{{stock.shares}}</td>
                <td>{{stock.price}}</td>
                <td>{{stock.total}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{user_cash}}</td>
            </tr>
            <tr>
                <td>TOTAL ASSETS</td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>{{total_money}}</b></td>
            </tr>
            
        </table>
        </fieldset>
    </form>
{% endblock %}
